
<!--
<div class='rating'>
	<select name="dishes" id="dishesdrop">
		<option value="null">none</option>
		<ng-container *ngFor="let item of restaurant_dishes">
			<option value={{item.dish_id}}>{{item.dish_name}}</option>
		</ng-container>  
	</select>	
	<br>
	<app-star-rating (rating_model_event) = "rating_event_hander($event)"></app-star-rating>
	<br>
	<label for="Token">Token</label>
	<input type="text" name="token_number" id="token_number">
	<button mat-raised-button color="primary" (click)=submit()>Submit</button>
	<div>
		<ul style="list-style-type:none;">
		<ng-container *ngFor="let item of dish_rating_list">
			{{set_star_rating(item.overall_rating)}}
			<li>{{item.dish_name}}
			<span *ngFor="let item of checked_star_array()"><span class="fa fa-star checked"></span></span>
			<span *ngFor="let item of star_array()"><span class="fa fa-star"></span></span>
			{{checked_star}}
			</li>
		</ng-container>
		</ul>
	</div>

<jw-modal id="custom-modal-1">
    <h1>A Custom Modal!</h1>
    <p>Home page text: <input type="text" [(ngModel)]="body_string" /></p>
    <button (click)="closeModal('custom-modal-1');">Close</button>
</jw-modal>

</div>
-->
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="restaurant-details.component.css">
	<title></title>
</head>
	<body>
		<div class="wrapper">
			<div id="r1c1" class="box">
				<label>{{restaurant.restaurant_name}} <span *ngIf="restaurant.claimed_by!=null"><i class="fa fa-check-circle"></i></span></label><br>
				   <span>
						{{set_overall_star_rating(restaurant.overall_rating)}}
						<span *ngFor="let item of overall_checked_star_array()"><span class="fa fa-star checked"></span></span>
						<span *ngFor="let item of overall_star_array()"><span class="fa fa-star"></span></span>		
						{{restaurant_overall_rating}}   	
				   </span> ({{restaurant.total_no_of_ratings}} reviews)<br>
				   <label>{{restaurant.address}}</label>
				   <label> {{restaurant.phone_number}}</label>
				   <!--<label> www.brre.com</label>-->
				   <br>
				   <img id="rest_img" src="/assets/images/{{ restaurant.restaurant_name }}.jpg" alt="Photo of a Shiba Inu" onerror="this.src='/assets/images/rest_samp.jpg'">
			</div>
			<div id="r1c2" class="box">
				<label>Location</label><br>
	        <div class="row">
				<div id="map" class="map"></div>
			</div>
			</div>
			<div id="r2c1" class="box">
				<label>Ratings</label><br><br>
				<span>
					
				</span>
				{{set_overall_star_rating(restaurant.overall_rating)}}
				{{set_rating_dish_rating(restaurant.dish_rating)}}
				{{set_rating_price_rating(restaurant.price_rating)}}
				{{set_rating_service_rating(restaurant.service_rating)}}
				<span class="rate">Overall Rating</span>
				   <span class="tst">
						<span *ngFor="let item of overall_checked_star_array()"><span class="fa fa-star checked"></span></span>
						<span *ngFor="let item of overall_star_array()"><span class="fa fa-star"></span></span>				   	
				   </span><br>
				<span class="rate">Dish Rating</span>
				   <span class="tst">
						<span *ngFor="let item of rating_dish_checked_star_array()"><span class="fa fa-star checked"></span></span>
						<span *ngFor="let item of rating_dish_star_array()"><span class="fa fa-star"></span></span>	
				   </span><br>
				<span class="rate">Price Rating</span>
				   <span class="tst">
						<span *ngFor="let item of rating_price_checked_star_array()"><span class="fa fa-star checked"></span></span>
						<span *ngFor="let item of rating_price_star_array()"><span class="fa fa-star"></span></span>	
				   </span><br>
				<span class="rate">Service Rating</span>
				   <span class="tst">
						<span *ngFor="let item of rating_service_checked_star_array()"><span class="fa fa-star checked"></span></span>
						<span *ngFor="let item of rating_service_star_array()"><span class="fa fa-star"></span></span>				   	
				   </span><br>
			</div>
			<div id="r2c2" class="box">
				<label>Dishes</label><br><br>
				<div>
					<ul style="list-style-type:none;">
					<ng-container *ngFor="let item of dish_rating_list">
						{{set_star_rating(item.overall_rating)}}
						<li>{{item.dish_name}}
						<span *ngFor="let item of checked_star_array()"><span class="fa fa-star checked"></span></span>
						<span *ngFor="let item of star_array()"><span class="fa fa-star"></span></span>
						{{checked_star}}
						</li>
					</ng-container>
					</ul>
				</div>
			</div>
			<div id="r3c1" class="box">
				<label>Reviews</label><br><br>
				<div class="review-wrapper">
					<ng-container *ngFor="let item of restaurant.ratings">
						<div class="pro-pic">
								<img class="pro-pic-image" src="assets/images/pro.jpg">
								<label>{{item.added_by}}</label>
						</div>
						<div class="review">
							<span id="rating">
								{{set_star_rating(item.overall_rating)}}
								<span *ngFor="let item of checked_star_array()"><span class="fa fa-star checked"></span></span>
								<span *ngFor="let item of star_array()"><span class="fa fa-star"></span></span>
								{{item.overall_rating}}
								<span *ngIf="item.verified==1"><i class="fa fa-check-circle"></i></span>
							</span><br>
							<span id="msg">
								{{item.review}}
							</span>
						</div>
						<div class="other">
							<span>{{item.created_on}}</span><br>
							<span><button mat-button><i class="fa fa-thumbs-up fa-sm"></i></button></span>
							<span><button mat-button><i class="fa fa-thumbs-down fa-sm"></i></button></span>
						</div>
					</ng-container>
				</div>
			</div>
			<div id="r3c2" class="box">
				<label>Set Ratings</label><br><br>
				<select name="dishes" id="dishesdrop">
					<option value="null">none</option>
					<ng-container *ngFor="let item of restaurant_dishes">
						<option value={{item.dish_id}}>{{item.dish_name}}</option>
					</ng-container>  
				</select>	
				<br>
				<app-star-rating (rating_model_event) = "rating_event_hander($event)"></app-star-rating>
				<br>
				<textarea id="review-message" placeholder="write your review here"></textarea><br><br>
				<label for="Token">Token </label>
				<input type="text" name="token_number" id="token_number">
				<button mat-raised-button color="primary" (click)=submit()>Submit</button>
			</div>
		</div>
	</body>
</html>