<div class='rating'>
<!-- 	<mat-form-field> -->
<!-- 	<mat-select class='mat-select-dish' name="user_role" ngModel placeholder='Dish'>
		<mat-option class='mat-option-dish' value="Kottu">Kottu</mat-option>		  	
		<mat-option class='mat-option-dish' value="Fried Rice">Fried Rice</mat-option>
		<mat-option class='mat-option-dish' value="Chopsey Rice">Chopsey Rice</mat-option>
	</mat-select>
	<br> -->
	<select name="dishes" id="dishesdrop">
	  <option value="none">none</option>
	  <option value="1">Dish 01</option>
	  <option value="2">Dish 02</option>
	  <option value="3">Dish 03</option>
	  <option value="4">Dish 04</option>
	</select>	
<!-- 	</mat-form-field> -->
	<br>
	<app-star-rating (rating_model_event) = "rating_event_hander($event)"></app-star-rating>
	<br>
	<button mat-raised-button color="primary" (click)=submit()>Submit</button>	
</div>